$theme-color: #1e8c1c;
$theme-color2: rgb(240, 245, 250);

* {
  box-sizing: border-box;
}

/* App.js */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* メニューバー */
.navbar {
  position: fixed;
  background-color: $theme-color;
  color: rgb(240, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  border-radius: 18px;
  min-width: 40%;
  max-width: 1100px;

  .site-title {
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  ul {
    padding: 0; // デフォルトからある左パディングの削除
    margin: 0; // デフォルトからある上下マージンの削除 
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
    height: 100%; 
    display: flex;
    align-items: center;
    padding: 0.25rem;
  }

  li:hover {
    background-color: #1e921c;
    color: white;
    border-radius: 10px;
  }
}

/* プロジェクトたち */
.projects-container { // projects.jsx
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin: 0 auto;
  gap: 2rem;
  width: 80%;
  min-width: 1000px;
  max-width: 1000px;
  background-color: $theme-color2;
}

.projects-container .projects-component { // projectCard.jsx
  display: flex;
  padding: 1.5rem;

  .project-thumbnail {
    img {
      width: 320px;
      height: 320px;
      border-radius: 10px;
      transition: opacity 0.3s;
    }
    img:hover {
      opacity: 0.6;
    }
  }

  .project-content {
    padding: 0.5rem 2rem;
    min-width: 600px;

    .project-title h2 {
      margin: 0;
      padding: 0;
    }    

    .project-technologies {
      display: flex;
      justify-content: space-between;
      font-family: monospace, sans-serif;
      font-weight: bold;
      font-size: 0.9rem;
      text-decoration: none;

      .github-div {
        display: flex;
        gap: 0.3rem;
      }

      .github-div a{
        text-decoration: none;
        color: inherit;
      }

      .github-div a:hover {
        text-decoration: underline;
      }
    }

    .project-details-button button{
      font-size: 1rem;
      color: $theme-color;
      background-color: transparent;
      border: 2px solid $theme-color;
      border-radius: 8px;
      padding: 17px 42px;
      transition: color 0.3s, background-color 0.4s;
      cursor: pointer;
    }

    .project-details-button button:hover {
      color: $theme-color2;
      background-color: $theme-color;
    }
  }
}