* {
  box-sizing: border-box;
}

.nav {
  background-color: #95BF47;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav .site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0; /* デフォルトからある左パディングの削除 */
  margin: 0; /* デフォルトからある上下マージンの削除 */
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: #777;
}